body{
    background-color:whitesmoke;
    margin: 0 auto;
    width: 90vw;
    max-width: 2500px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center; 
}

h1{
    position: relative;
    text-align: center;
    color:darkblue;
    top: 50px;
    font-size: 35px;
}

input{
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    border: 20px 20px;
    padding: 10px 10px 10px 10px;
    top: 70px;
    color: goldenrod;
    border-color: goldenrod;
}

h2{
    font-size: 20px;
    font-family: poppins, sans-serif;
    text-align: right;
}

p{
    font-size: 16px;
    display: inline-block;
    text-align: right;

}

li{
    display: inline-block;
    align-items:center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
    width: 500px;
    text-align:left;
    border-radius: 10px;
}   

.buttermilk{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.dinner{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}
.godzilla{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.country{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.egg{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.oreo{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.bacon{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.american{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.quarantine{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.steak{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}


.cards p{
    font-size: 10px;
}

.imagens{
    float: left;
    max-width: 170px;
    max-height: 290px;
    background-color: goldenrod;
    padding: 3px 3px;
    border-radius: 20px;
}
.cards:hover {
    cursor: pointer;
}