body{
    background-color:beige;
    margin: 0 auto;
    width: 90vw;
    max-width: 2500px;
    display: flex;
    gap: 3rem 2rem;
    justify-items: center; 
}

h1{
    position: relative;
    text-align: center;
    color:darkblue;
    top: 50px;
    font-size: 35px;
}

input{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px 10px;
    border-radius: 10px;
    border: 20px 20px;
    padding: 10px 10px 10px 10px;
    top: 70px;
    color: goldenrod;
    border-color: goldenrod;
}

input:hover{
    cursor:pointer;
    transform:translateY(-5px);
}

h2{
    font-family: poppins, sans-serif;
    text-align: right;
}

li p{
    font-size: 5em;
}

li{
    background-color:whitesmoke;
    display: inline-flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    height: 250px;
    width: 500px;
    border-radius: 10px;
}   

.buttermilk{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.dinner{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}
.godzilla{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.country{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.egg{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.oreo{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.bacon{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.american{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.quarantine{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}

.steak{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px;
}


.cards p{
    font-size: 10px;
}

.imagens{
    float: left;
    width: 230px;
    height: 170px;
    background-color: goldenrod;
    padding: 1px 1px;
    border-radius: 20px;
}
.cards:hover {
    cursor: pointer;
}